body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 300px;
}

.a4landscape, .letterTemplate {
  width: 297mm;
  height: 210mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a4landscape #outputText {
  font-size: 48px;
  text-align: center;
}

.letterTemplate #letterText {
  font-size: 20px;
  margin-bottom: 20px;
}

.letterTemplate #outputText {
  font-size: 36px;
  text-align: center;
}
