body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 300px;
}

.a4landscape, .letterTemplate {
  width: 297mm;
  height: 210mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a4landscape #outputText {
  font-size: 48px;
  text-align: center;
}

.letterTemplate #letterText {
  font-size: 48px;
  margin-bottom: 20px;
}

.letterTemplate #outputText {
  font-size: 72px;
  text-align: start;
}

.letterCover {
  position: relative;
  width: 297mm;
  height: 210mm;
  padding: 40px;
  box-sizing: border-box;
  font-size: 20px;
}

.letterCover .senderBlock {
  position: absolute;
  top: 40px;
  left: 40px;
  text-align: left;
  line-height: 1.4;
  margin-top: 50px;
}

.letterCover .receiverBlock {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-10%);
  text-align: left;
  line-height: 1.6;
  font-size: 26px;
}
